.idea/
.zed/
.vs/
.DS_Store

bin/
obj/
[Bb]in/
[Oo]bj/

*.user
*.suo
*.log

.env
Workit.Api/.env
Workit.Api/Properties/launchSettings.json
Workit.Api/global.json

TestResult.xml
[Tt]est[Rr]esult*/
coverage/
